<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<body >



  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <blockquote class="blockquote text-center">
          <p class="mb-0">Prueba Técnica para la OAS de Brayan Andrés Bermúdez B.</p>
        </blockquote>
      </div>
    </div>

  
    <nav class="nav nav-pills nav-justified justify-content-center">
      <a class="nav-link active" routerLink="actividades/create">Añadir Actividades</a>
      <a class="nav-link " routerLink="actividades" >Listar Actividades</a>
      <a class="nav-link " routerLink="responsable/create" >Añadir Responsable</a>
      <a class="nav-link " routerLink="responsable" >Listar Responsables</a>
    </nav>

 

  <br />
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
</body>