
<table datatable class="table table-striped table-responsive-md btn-table">
  <thead>
  <tr>
     <td>Fecha_creacion</td>
 <td>Fecha_limite</td>
 <td>Nombre Responsable</td>
 <td>Apellidos Responsable</td>
 <td>Email Responsable</td>
 <td>Telefono Responsable</td>
 <td>Descripcion</td>
 <td>Estado</td>

    <td >Acciones</td>
  </tr>
  </thead>

  <tbody>
     
           <tr *ngFor="let actividades of actividades">
<td>{{ actividades.fecha_creacion}}</td>
<td>{{ actividades.fecha_limite}}</td>
<td>{{ actividades.responsable[0].nombres}}</td>
<td>{{ actividades.responsable[0].apellidos}}</td>
<td>{{ actividades.responsable[0].email}}</td>
<td>{{ actividades.responsable[0].telefono}}</td>
<td>{{ actividades.descripcion}}</td>
<td>{{ actividades.estado}}</td>
<td><a [routerLink]="['edit', actividades._id]" class="btn btn-info">Editar Actividad</a>&nbsp;&nbsp;<a (click) = "deleteActividades(actividades._id)" class="btn btn-danger">Borrar Actividad</a></td>
         
      </tr>
  </tbody>
</table>
